[submodule "suap_mockup"]
	path = apps/moodle_suap_mockup
	url = https://github.com/johnt1000/moodle_suap_mockup.git


[submodule "integrador_app"]
	path = apps/moodle_suap_integrador_app
	url = https://github.com/CoticEaDIFRN/moodle_suap_integrador_app.git


[submodule "integrador_ms"]
	path = apps/moodle_suap_integrador_ms
	url = https://github.com/CoticEaDIFRN/moodle_suap_integrador_ms.git